---
const { title, description } = Astro.props;
---

<div class="bg-zinc-800 p-6 rounded-lg cursor-pointer hover:bg-indigo-800">
  <h3 class="text-lg/6 font-semibold">{title}</h3>
  <p class="mt-2 text-base text-gray-300">{description}</p>
</div>
