<div>
  <p id="success" class="mt-6 bg-green-400/23 px-4 py-3 text-sm text-left rounded-md hidden"><span class="mr-4">✅</span>You're in... Subscribed and ready. Welcome aboard!</p>
  <p id="error" class="mt-6 bg-red-400/23 px-4 py-3 text-sm text-left rounded-md hidden"><span class="mr-4">❌</span>Oops! That didn't work. Try again after some time.</p>
  <form id="early-access-form" class="block">
    <div class="mt-8 flex space-x-2 flex-col sm:flex-row">
      <input
        id="email"
        type="email"
        name="fields[email]"
        placeholder="Enter your email address..."
        class="w-xs px-4 py-2 text-white rounded-md border border-gray-700 outline-0 focus-within:border-gray-400"
      />
      <button id="submit" type="submit" class="bg-indigo-700 disabled:bg-indigo-400 px-6 py-2 rounded-md cursor-pointer mt-2 sm:mt-0">Subscribe</button>
    </div>
  </form>
</div>
<script>
  document.getElementById("early-access-form")?.addEventListener("submit", async (e) => {
    e.preventDefault();
    // Disable the submit button
    (document.getElementById("submit") as HTMLButtonElement).disabled = true;
    (document.getElementById("submit") as HTMLButtonElement).innerText = "Subscribing...";
    //
    const data = new FormData(e.target as HTMLFormElement);
    const response = await fetch("https://assets.mailerlite.com/jsonp/1344887/forms/146889109859731416/subscribe", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(data as any),
    });

    var { success, errors } = await response.json();

    // Show success or failure messages
    if (success) {
      (document.getElementById("early-access-form") as HTMLFormElement).reset();
      document.getElementById("success")?.classList.remove("hidden");
    } else {
      document.getElementById("error")?.classList.remove("hidden");
    }

    // Enable the submit button
    (document.getElementById("submit") as HTMLButtonElement).disabled = false;
    (document.getElementById("submit") as HTMLButtonElement).innerText = "Subscribe";
  });
</script>
