---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Subscribe from "../components/Subscribe.astro";
---

<Layout>
  <div class="bg-gray-950 text-white">
    <Banner />
    <div class="relative min-h-screen flex flex-col items-center justify-center text-center px-6 lg:px-8">
      <div class="w-28 h-28 m-12">
        <img src="/logo.svg" alt="Passworthy Logo" class="w-full h-full object-contain" />
      </div>
      <h1 class="text-4xl font-bold">Introducing Passworthy</h1>
      <p class="mt-4 text-xl text-gray-300">Simple, yet secured offline password manager application</p>
      <p class="mt-2 text-base text-gray-400">Subscribe to our waitlist to receive product updates</p>

      <Subscribe />

      <p class="mt-4 text-gray-500">Trusted by no one... (yet) ðŸ˜‰</p>
    </div>
    <div class="bg-zinc-900 px-6 lg:px-8">
      <div class="mx-auto max-w-3xl py-16">
        <h2 class="text-2xl font-bold">Passworthy</h2>
        <p class="mt-4 text-lg/6 text-gray-300">In a sentence - Simple yet secured password manager application.</p>
        <p class="mt-2 text-lg/6 text-gray-300">
          Passworthy is an offline password manager designed for privacy-conscious users. It securely stores passwords locally on your device, ensuring that only you have access to
          your credentials.
        </p>
        <p class="mt-2 text-lg/6 text-gray-300">
          Unlike cloud-based managers, Passworthy requires no logins, no accounts, and no internet connection - your passwords remain encrypted and protected, without compromise.
        </p>

        <h2 class="mt-8 text-2xl font-bold">Why Passworthy?</h2>
        <div class="grid grid-cols-2 gap-6 mt-6">
          <Card title="ðŸ”’ Offline & Secure" description="Your passwords are stored only on your device, encrypted for maximum security." />
          <Card title="âš¡ Fast & Lightweight" description="No unnecessary bloat, just a simple and efficient password manager." />
          <Card title="ðŸš« No Tracking, No Ads" description="Your data is yours. No hidden analytics, no profiling, no third-party access." />
          <Card title="ðŸ› ï¸ Open-Source & Transparent" description="Built for privacy-first users, with source code available for review." />
        </div>
      </div>
    </div>

    <footer class="py-12 text-center text-gray-500">
      <p>Â© 2025 Sandip Pramanik. All rights reserved.</p>
    </footer>
  </div>
</Layout>
