---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto max-w-3xl py-16">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSctUJHHM08jaEb3-wRb6Cl0jMXytJranJEiwBCHSVQ9HEH-uA/viewform?embedded=true" width="640" height="887">Loading…</iframe>
  </div>
</Layout>
<script>
  document.title = "Passworthy Support";
</script>
